APP_NAME=producto-grpc
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
GRPC_MAX_WORKERS=10
DATABASE_URL=postgresql+psycopg://producto:producto@db:5432/producto
LOG_LEVEL=INFO

POSTGRES_DB=producto
POSTGRES_USER=producto
POSTGRES_PASSWORD=producto
